@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
.mat-toolbar{
    margin-top: 20px;
}
.profile-card{
    margin-top: 10px;
    width: 60%;
    height: 80%;
    img{
        border-radius: 50%;
        width: 350px;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    mat-card-header{
        justify-content: center;
    }
    mat-card-content{
        width: 80%;
        // display: block;
        margin: 0 auto;

    }
}

.profile-cardDark{
    margin-top: 10px;
    width: 60%;
    height: 80%;
    color: white;
    background-color: rgb(44, 43, 43);
    img{
        border-radius: 50%;
        width: 350px;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    mat-card-header{
        justify-content: center;
    }
    mat-card-content{
        width: 80%;
        // display: block;
        margin: 0 auto;

    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modo{
    background-color: grey !important;
}

.modoContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
