
<mat-toolbar color="primary">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        >
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      Quien Soy
</mat-toolbar>
<!-- <form action=""> -->
    <mat-card class="profile-card">
        <mat-card-header>
            <img src="https://firebasestorage.googleapis.com/v0/b/tplab4-e268a.appspot.com/o/profile.jpg?alt=media&token=53263777-460b-406c-8aae-efeea80d3c1c" alt=""> 
        </mat-card-header>
        <mat-card-content>
            Alumno: Matias Barrozo
        </mat-card-content>
        <mat-card-content>
            Juego Propuesto:
            La idea incial es realizar una batalla naval en menor escala, dependiendo del tiempo se planteara hacerla completa o dejarla asi.
            Decripcion del mismo:
            La batalla naval es un juego tradicional de estrategia y algo de suerte, que involucra a dos participantes.
            Ambos jugadores ingresan los barcos en lugares a eleccion y empieza el juego.
            En cada ronda, cada jugador en su turno «dispara» hacia la flota de su oponente indicando una posición (las coordenadas de una casilla), la que registra en el segundo tablero. 
            Si esa posición es ocupada por parte de un barco contrario, el oponente cantará ¡Averiado! (¡Toque!, ¡Tocado! o ¡Impacto!) si todavía quedan partes del barco (casillas) sin dañar, o ¡Hundido! 
            si con ese disparo la nave ha quedado totalmente destruida (esto es, si la acertada es la última de las casillas que conforman la nave que quedaba por acertar). 
            El jugador que ha tocado un barco en su anterior jugada, volverá a disparar hasta que falle. Si la posición indicada no corresponde a una parte de barco alguno, cantará ¡Agua!.
            <div class="mat-dialog-actions">
                <input routerLink="/navigation" type="submit" class="mat-flat-button" value="Salir">
            </div>
        </mat-card-content>
    </mat-card>
<!-- </form> -->

