<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-toolbar color="primary">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        >
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      Quien Soy
</mat-toolbar>
<!-- <form action=""> -->
    <div class="container">
    <mat-card [ngClass]="fondo">
        <mat-card-header>
            <img src="../../assets/perfil.jpg" alt=""> 
        </mat-card-header>
        <mat-card-content>
           <h1> Alumno: Matias Barrozo</h1>
        </mat-card-content>
        <mat-card-content>
            <h2>Juego Propuesto:</h2>
            <h3>La idea incial es realizar una batalla naval en menor escala, dependiendo del tiempo se planteara hacerla completa o dejarla asi. <br>
            Decripcion del mismo:
            La batalla naval es un juego tradicional de estrategia y algo de suerte, que involucra a dos participantes.
            Ambos jugadores ingresan los barcos en lugares a eleccion y empieza el juego.
            En cada ronda, cada jugador en su turno «dispara» hacia la flota de su oponente indicando una posición (las coordenadas de una casilla), la que registra en el segundo tablero. 
            Si esa posición es ocupada por parte de un barco contrario, se anunciara "Le pegaste" si todavía quedan partes del barco (casillas) sin dañar, o "Hundiste mi acorazado"! 
            si con ese disparo la nave ha quedado totalmente destruida (esto es, si la acertada es la última de las casillas que conforman la nave que quedaba por acertar). 
            El jugador que ha tocado un barco en su anterior jugada, volverá a disparar hasta que falle. Si la posición indicada no corresponde a una parte de barco alguno, cantará ¡Agua!.
        </h3>
        </mat-card-content>
    </mat-card>
    
</div>
<div class="modoContainer">
    <button (click)="cambiar()" id="modo" mat-fab color="accent" aria-label="Example icon button with a delete icon">
        <span class="material-symbols-outlined">
            dark_mode
            </span>
      </button>
</div>
<!-- </form> -->

