<div class="container">
    <h1 class="text-center">Mayor o menor</h1>
    <mat-progress-bar color="warn" mode="determinate" value={{cantidad}}></mat-progress-bar>
    <div class="text-center">
        <h2>Puntos: {{puntos}}</h2>
    </div>
    <div class="container">
        <mat-grid-list cols="3" rowHeight="400px">

            <mat-grid-tile>
                <div class="img">
                <img [src]="ultima" alt="">
                <h2>Ultima carta</h2>
            </div>
            </mat-grid-tile>
            <mat-grid-tile >
                <div class="botones">
                <button  mat-fab extended color="primary" (click)="verificar('m')" >Mayor</button>
                <button  mat-fab extended color="primary" (click)="verificar('n')" >Menor</button>
            </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="img">
                <img [src]="actual" alt="">
                <h2>Nueva carta</h2>
            </div>
            </mat-grid-tile>
        </mat-grid-list>

    </div>
</div>