.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  
}
mat-toolbar{
  margin-bottom: -20px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  // color: #776BCC;
  background-color: #776BCC
  
}

span{
  text-transform: uppercase;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
}

#salir{
  margin-top: auto;
}

body {
  background: linear-gradient(90deg, #C7C5F4, #776BCC);		
  background-color: #4C489D;
}