<body>
  

<div class="container">
    <h1>Juego de Ahorcado</h1>
    <div class="imagen">
      <img [src]="imagen" alt="">
      <h2>Vidas: {{vidas}}</h2>
    </div>
    <h2 class="palabra" >La palabra es: {{palabraEscondida}}</h2>

</div>
<div id="teclado" class="container">
  <mat-grid-list cols="9" rowHeight="100px">
        <div class="keyboard-container" *ngFor="let letra of alfabeto">
          <!-- <div class="col"> -->
            <mat-grid-tile>
          <button [disabled]="letra['usada']" class="btn btn-secondary keyboard-button " (click)="mostrarLetraEnConsola(letra)">{{ letra['letra'] }}</button>
            </mat-grid-tile>

        <!-- </div> -->
      </div>
    </mat-grid-list>
</div>
</body>
